%initial-style {
  position: absolute;
  width: 22px;
  height: 22px;
  transition: all 0.3s ease-in-out !important;
}

.darkModeIcon {
  @extend %initial-style;
  translate: 150% 30%;
}

.lightModeIcon {
  @extend %initial-style;
  translate: -150% 30%;
}

.activeTheme {
  translate: 0;
  transition: all 0.3s ease-in-out !important;
}
